

.pdf-toolbar, .pdf-toolbar .font {
  font-family: Arial, Helvetica, sans-serif;
}

.pdf-toolbar.w {
  color: #FFF;
}

.pdf-toolbar.dib {
  display: inline-block;
}

.pdf-toolbar.small {
  font-size: 15px;
}

.pdf-toolbar.link {
  cursor: pointer;
}

.pdf-toolbar.pa1 {
  padding: 5px;
}

.pdf-toolbar.no-underline {
  text-decoration: none;
}

.pdf-toolbar.op06 {
  opacity: 0.pdf-toolbar.6;
}

.pdf-toolbar.border {
  border-bottom: 1px #000 solid;
}